/target/classes/com/demo/mall/dao/CategoryMapper.class
/target/classes/com/demo/mall/entity/Category.class
/target/classes/com/demo/mall/MallApplication.class
/target/classes/mappers/CategoryMapper.xml
/target/classes/application.yml
/target/test-classes/com/demo/mall/dao/CategoryMapperTest.class
